<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>About</title>
</head>
<body>
    <nav>
        <a href="/views/index.html" class="home-link"><span>👩🏻‍💻</span></a>
        <ul class="main-nav">
            <li><a href="/views/index.html">Hello</a></li>
            <li><a href="/views/about.html">About</a></li>
            <li><a href="/views/works.html">Works</a></li>
        </ul>
    </nav>
    <section class="about-section">
        <div>
            <h1>About</h1>
        </div>
        <div class="about-details">
            <p>I'm a graduated Chemical Engineer with 10-years of corporate and entrepreneurial experience, keen to change my career into tech. To accelerate my career transition in the right direction, I'm taking a Full-stack Bootcamp at <a target="_blank" src="https://www.ironhack.com/">Ironhack Lisbon</a>.
            </p>
            <p>The Bootcamp experience at Ironhack is short and intense. The day I'm writing this intro is only week-4 of the course, and I'm already able to create cool stuff like this website, which is part of my daily delivery, in this case, to practice making a server with Express in Node JS.</p>
            <div class="cta-row">
                <div class="cta-circle"></div>
                <a href="/views/works.html" class= "cta-button">See other projects →</a>
            </div>
        </div>
    </section>
    <footer>
        <ul class="social-links">
            <li><a target="_blank" href="https://www.linkedin.com/in/karinaglf/">LinkedIn</a></li>
            <li><a target="_blank" href="https://github.com/karinaglf/">Github</a></li>
        </ul>
    </footer>
</body>
</html>