<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/works.css">
    <title>Works</title>
</head>
<body>
    <nav>
        <a href="/" class="home-link"><span>👩🏻‍💻</span></a>
        <ul class="main-nav">
            <li><a href="/">Hello</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
        </ul>
    </nav>
    <section class="works-section">
        <h1>My top 3 favorite delivers in 3 Bootcamp-weeks</h1>
        <div class="projects-container">
            <article class="projects-card">
                <div class="project-img" id="card1"></div>
                <h2>Dodge Dino Game</h2>
                <p>Module 1 Final Delivery - an endless runner game developed with JS where I could practice: canvas, DOM Manipulation, and animation sprites.</p>
                <div class="cta-row">
                    <div class="cta-circle"></div>
                    <a href="https://github.com/karinaglf/ironhack-project-game-jumper" class= "cta-button">See repo →</a>
                </div>                
            </article>
            <article class="projects-card">
                <div class="project-img" id="card2"></div>
                <h2>DOM Ironhack Cart</h2>
                <p>First DOM Manipulation exercise, a shopping cart where you can add/remove products, change quantities, and check totals and subtotals.</p>
                <div class="cta-row">
                    <div class="cta-circle"></div>
                    <a href="https://github.com/karinaglf/lab-dom-ironhack-cart" class= "cta-button">See repo →</a>
                </div>
            </article>
            <article class="projects-card">
                <div class="project-img" id="card3"></div>
                <h2>JS Vikings</h2>
                <p>A simple exercise to practice Object-oriented programming and how class and inheritance work in JS through a battle between Vikings and Saxons!!</p>
                <div class="cta-row">
                    <div class="cta-circle"></div>
                    <a href="https://github.com/karinaglf/lab-javascript-vikings" class= "cta-button">See repo →</a>
                </div>   
            </article>
        </div>
    </section>
    <footer>
        <ul class="social-links">
            <li><a target="_blank" href="https://www.linkedin.com/in/karinaglf/">LinkedIn</a></li>
            <li><a target="_blank" href="https://github.com/karinaglf/">Github</a></li>
        </ul>
    </footer>
</body>
</html>