.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
@media (min-width: 768px) {
    .hero {
        height: 80vh;
    }
    .hero-info-box {
        width: 40vw;
    }
}
.hero img{
    border-radius: 50%;
    width: 250px;
}
.hero p{
    font-size: 1.5rem;
}
.cta-row {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cta-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--global-palette3);
}
.cta-button {
    font-family: var(--global-heading-font-family);
    font-weight: bold;
    text-transform: uppercase;
    margin-left: -20px;
    transition: all .2s ease-in-out;
}
.cta-button:hover {
    transform: scale(1.1) translate(10px);
}