@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --global-palette1: black;
  --global-palette2: #363636;
  --global-palette3: #d7d7d7;
  --global-palette4: #157448;
  --global-heading-font-family: "Roboto Slab", serif;
  --global-body-font-family: "Roboto", sans-serif;
  --global-width: 80vw;
}
body {
  font-family: var(--global-body-font-family);
  color: var(--global-palette2);
  width: var(--global-width);
  line-height: 1.1;
  margin: 0 auto;
}
h1 {
  font-size: 2.5rem;
  font-family: var(--global-heading-font-family);
  color: var(--global-palette1);
  padding: 15px 0;
}
h2 {
  font-family: var(--global-heading-font-family);
  color: var(--global-palette1);
  font-size: 1.5rem;
  padding: 15px 0;
}
p {
  color: var(--global-palette2);
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.8;
  padding: 15px 0;
}
a {
  color: var(--global-palette1);
  text-decoration: none;
}
a:hover {
  color: var(--global-palette4);
  font-weight: bold;
}
nav,
footer {
  height: 10vh;
  display: flex;
  align-items: center;
}
nav {
  justify-content: space-between;
}
.home-link {
  font-size: 1.6rem;
}
.main-nav {
  list-style: none;
  display: flex;
}
.main-nav li {
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.social-links {
  list-style: none;
  display: flex;
}
.social-links li {
  padding-right: 30px;
}
